<div class="form-control ">

        <h3 class="h3">Login</h3>
        <form action="emp.html" >
            <input class="center-block" type='text' name="Email"  placeholder="Email Id" required>

            <input class="center-block" type='text' name="MPassword"  placeholder="Password" required>
            <br>
            <div class="but">
            <button style="margin-right: 30px" type="submit" class="btn  btn-outline-primary">Login</button>
            <button  type="reset" class="btn btn-outline-secondary" >Cancel</button>
            </div>
        </form>
         <br>

        <div class="h2">Already have an account? <a href="/signup">SignUp</a></div>
</div>
